*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	display: flex;
	flex-flow: column wrap;
	padding-top: 5rem;
	justify-content: flex-start;
	align-items: center;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100dvh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.wrapper {
	min-width: 30rem;
	border: none;
	padding: 1.5rem 2rem;
	background: #a0d1c55b;
	min-height: 5rem;
	border-radius: 2rem;
}
.input-box {
	display: flex;

	justify-content: center;
}
h1 {
	text-align: center;
	font-weight: 800;
	font-size: 3rem;
	color: rgb(245, 249, 236);
}
.user-input,
.btn-add {
	background: rgba(224, 241, 221, 0.157);
	border: none;
	padding: 0.8rem;
	font-size: 1.02rem;
	outline: none;
}
.btn-add:hover {
	cursor: pointer;
	background-color: rgba(172, 227, 172, 0.745);
}

ul {
	list-style-type: none;
	min-width: 30%;
	margin-block: 1.4rem;
}
/* div containing task */
.taskDiv {
	margin-block: 0.5rem;
	color: rgba(248, 248, 231, 0.837);
	font-size: 1.2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: all 0.3s;
	width: 25rem;
}
li {
	margin-block: 0.5rem;
	flex: 1;
	cursor: default;
}
.checkBox {
	margin-inline: 1rem;
}
.completed {
	opacity: 40%;
}

.btn-delete {
	background-color: transparent;
	border: none;
	margin-inline: 1rem;
	color: rgba(228, 222, 222, 0.925);
	padding: 1rem;
	cursor: pointer;
	font-size: 1rem;
}
.btn-delete:hover {
	background-color: rgba(252, 16, 16, 0.501);
}
.fall {
	transform: translateY(3rem);
	opacity: 0;
}

.filter-type {
	display: flex;
	justify-content: space-between;
}
.filter {
	margin-right: -2rem;
	margin-left: 0rem;
	display: none;
}
input[type='radio']:checked + label {
	color: rgba(38, 40, 147, 0.869);
}
label {
	cursor: pointer;
}

@media (max-width: 800px) {
	* {
		box-sizing: border-box;
		background: rgba(0, 128, 0, 0.171) !important;
	}

	body {
		display: block;
		max-width: 90dvw;
		border: solid black 1px;
		overflow: hidden;
	}
	.wrapper {
		overflow: hidden;
		max-width: 50%;
	}
}
